name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      reason:
        required: true
        description: 'Reason for manual run'

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.21' # matches Cloud Functions runtime
      - run: go build cmd/main/main.go
      - run: go test ./...
        env:
          GCP_API_KEY: test-api-key

  deploy-to-cloud-functions:
    runs-on: ubuntu-latest

    needs:
      - build-test

    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - uses: google-github-actions/deploy-cloud-functions@main
        with:
          name: dialogflow-calendar-integration-webhook
          entry_point: MainHTTP
          memory: 128Mi
          runtime: go121
          max_instance_count: 1
          description: Cloud Functions for Dialogflow Fullfillment (https://dialogflow.cloud.google.com/#/agent/kkweon-free-tier)
