name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1' # matches Cloud Functions runtime
      - run: go build cmd/main/main.go

  deploy-to-cloud-functions:
    runs-on: ubuntu-latest

    needs:
      - build

    steps:
      - uses: actions/checkout@v2

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - uses: google-github-actions/deploy-cloud-functions@main
        with:
          name: dialogflow-calendar-integration-webhook
          entry_point: MainHTTP
          memory_mb: 128
          runtime: go113
          region: us-west2 # Los Angeles
          max_instances: 1
          description: Cloud Functions for Dialogflow Fullfillment (https://dialogflow.cloud.google.com/#/agent/kkweon-free-tier)
